.community-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  padding: 40px 30px;
  border-radius: 10px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 4rem;
    margin-bottom: 30px;

    p {
      margin: 0;
      color: #ef6a20;
      font-size:1.8rem;
      font-weight: 700;
      padding: 0 15px;

      span {
        align-self: center;
        color: #3086FF;
      }
    }

    & p:nth-child(1) {
      border-bottom: 4px solid var(--primary-orange);
      border-radius: 10px;
    }

    & p:nth-child(2) {
      display: flex;
      gap: 20px;
      border-bottom: 4px solid #3086FF;
      border-radius: 10px;
      & svg {
        align-self: center;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2.5rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    padding: 0 20px 20px;
    border-radius: 12px;
    max-width: 700px;
    min-width: 400px;
    width: auto;
    height: 200px;

    .top {
      display: flex;

      .top-left {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding-top: 20px;
        width: 55%;

        .pfp {
          width: 55px;
          height: 55px;
          border-radius: 50%;
          background: white;
          margin-right: 10px;
        }

        .role {
          font-size: 14px;
          font-weight: bold;
          color: gray;
        }

        .name {
          font-size: 17px;
          font-weight: bold;
          margin-top: 3px;
        }

        .distance {
          font-size: 13px;
          color: #ef6a20;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }

      .top-right {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 45%;
        gap: 6px;
        border-left: 2px solid #262626;
        padding-top: 20px;
        padding-left: 10px;

        div {
          text-align: left;
          width: 100%;
          font-size: 13px;
        }

        .age {
          font-size: 13px;
          margin-left: auto;
          color: #333;
        }
      }
    }

    .desc {
      font-size: 13px;
      color: #444;
      margin-top: 8px;
      line-height: 1.4;
    }
  }
}


@media screen and (max-width: 1130px) {
  .community-container {
    .grid {
      grid-template-columns: 1fr;
    }

    .card {
      min-width: 300px;
      width: 90%;
    }
  } 
}

@media screen and (max-width: 922px) {
  .community-container {
    .header {
      flex-direction: column;
      gap: 15px;
      & p:nth-child(1) {
        align-self: flex-start;
      }
      & p:nth-child(2) {
        align-self: flex-end;
      }
    }

    .card {
      min-width: 300px;
      width: 90%;
    }
  } 
}