@import url("_createPost.scss");
@import url("_postCard.scss");

.fyp-page {
  display: grid;
  grid-template-columns: 60% 40%;
  min-height: 90vh;
  height: auto;
  background: var(--newsfeed-white);

  .left-side {
    display: flex;

    .sticky-wrapper {
      position: relative;
    }

    .left-side-cards {
      position: sticky;
      top: 132px;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin: 40px 0 40px 30px;
      width: 300px;
    }

    .main-feed {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      flex-direction: column;
      gap: 1.8rem;

      .post-box {
        background: #fff;
        display: flex;
        align-items: center;
        max-width: 585px;
        width: 100%;
        gap: 1rem;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        padding: 20px;
        margin: 2rem 1rem 0;
        border-radius: 20px;

        .user-profile {
          background: var(--bg-gray);
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }

        & button {
          text-align: left;
          color: var(--subtext-gray);
          border: 1px solid rgba(0, 0, 0, 0.25);
          padding: 15px 20px;
          width: 400px;
          font-size: 14px;
          border-radius: 50px;
          background: #fafafa;
          cursor: pointer;

          &:hover {
            background: #f0f0f0;
          }
        }

        .upload-img {
          display: flex;
          align-items: center;
            padding: 6px;
          border-radius: 12px;
          cursor: pointer;

          &:hover {
            background: #b4d3ff6d;
          }

          & svg {
            color: var(--primary-blue);
          }
        }
      }
    }
  }

  .sidebar {
    position: fixed;
    top: 92px;
    right: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    background: var(--sidebar-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 30px 20px;

    & h3 {
      color: var(--secondary-black);
    }

    & ul li {
      list-style-type: none;
    }

    .suggestions {
      display: flex;
      flex-direction: column;
      gap: 20px;

      & ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & li {
          display: flex;
          align-items: center;
          gap: 15px;
          background: var(--bg-gray);
          width: 250px;
          font-size: 14px;
          padding: 6px 10px;
          border-radius: 6px;
          cursor: pointer;
          transition: .3s ease;

          &:hover {
            background: #c8c8c8;
          }

          & span {
            height: 30px;
            width: 30px;
            background: #fff;
            border-radius: 50px;
          }
        }
      }
      .show-more-users {
        & button {
          background: none;
          border: none;
          color: var(--primary-blue);
          font-weight: 600;
          cursor: pointer;
          padding: 0;
          font-size: 14px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .tutor-preferences {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .your-preferences {
        position: relative;
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        background: var(--bg-gray);
        width: max-content;
        padding: 20px;
        border-radius: 12px;

        .button-container {
          position: absolute;
          bottom: 10px;
          display: flex;
          gap: 20px;

          button {
            padding: 10px 0;
            width: 115px;
            font-size: 12px;
            border-radius: 8px;
            border: none;
            cursor: pointer;

            &:nth-child(1) {
              background: var(--primary-blue);
              color: #fff;
            } &:nth-child(2) {
              background: var(--primary-orange);
              color: #fff;
            } &:hover {
              opacity: 0.9;
            }
          }
        }
      }

      .input-group-1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 200px;
      }

      .input-group-2 {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .input-box:nth-child(2) {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .radio-group {
            display: flex;
            gap: 20px;
            font-size: 14px;
            flex-wrap: wrap;

            .radio-box {
              display: flex;
              align-items: center;
              gap: 4px;

              input {
                transform: scale(1.2);
                cursor: pointer;
              }
              label {
                cursor: pointer;
              }
            }
          }
        }
      }

      .input-box {
        display: flex;
        flex-direction: column;

        & input {
          padding: 10px 12px;
          border-radius: 8px;
          border: none;

          &:focus {
            outline: none;
            border: 1px solid var(--primary-orange);
          }
        }

        & select {
          padding: 10px 14px;
          margin-top: 10px;
          border-radius: 8px;
          border: 1px solid transparent;
          transition: .3s ease;
          cursor: pointer;

          &:hover {
            border-color: var(--primary-orange);
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          }

          &:focus {
            outline: none;
          }
        }

        /* Custom Dropdown for Subject to Teach */
        .custom-select {
          position: relative;
          width: 100%;
          font-family: 'Inter', sans-serif;
          user-select: none;

          .select-box {
            padding: 12px 16px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fff;
            width: 250px;
            font-size: 13px;
            cursor: pointer;
            transition: border .2s, box-shadow .2s;

            &:hover {
              border-color: var(--primary-orange);
              box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            }
          }

          .subjects_dropdown {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            max-height: 300px;
            overflow-y: auto;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 8px;
            z-index: 2;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

            .category {
              margin-bottom: 16px;
              display: flex;
              flex-direction: column;

              & p {
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 8px;
                color: #333;
                padding:  4px 10px;
              }

              .subjects {
                display: flex;
                flex-direction: column;
                align-items: center;
              }
            }

            .subject {
              padding: 8px 0 8px 20px;
              border-radius: 6px;
              font-size: 14px;
              width: 100%;
              cursor: pointer;
              transition: background-color .2s;

              &:hover {
                background-color: #f0f8ff;
              }
            }
          }
        }

        .custom-select.active {
          .subjects_dropdown {
            display: flex;
            flex-direction: column;
            width: 100%;
          }
        }
      }
    }
  }
}

/* MEDIA QUERIES ------------------------------------------------ */

@media screen and (max-width: 1553px) {
  .fyp-page {
    .left-side {
      .left-side-cards {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1323px) {
  .fyp-page {
    display: flex;
    justify-content: center;

    .left-side {
      .main-feed {
        min-width: 100px;
        width: 100%;

        .post-box {
          width: 100%;
        }
      }
    }

    .sidebar {
      display: none;
    }
  }
}
