.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-white);

  .graphic-background {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 2;
    .lalake {
      position: absolute;
      height: 800px;
      bottom: 0;
      left: 0;
    }
    .babae {
      position: absolute;
      height: 800px;
      bottom: 0;
      right: 0;
    }
  }

  .plane-background {
    position: relative;
    height: 85vh;
    width: 100%;

    .plane-left {
      position: absolute;
      height: 200px;
      width: 700px;
      bottom: 200px;
      left: -390px;
    }
    .plane-right {
      position: absolute;
      width: 400px;
      top: 100px;
      right: 0;
    }
  }

  .modal-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: max-content;
    margin-top: 30px;
    width: 700px;
    z-index: 2;

    .modal-card-profile {
      position: relative;
      height: 500px;
      width: 100%;
      border-radius: 20px;
      backdrop-filter: blur(20px);
      background: rgba(255, 255, 255, 0.7);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
      overflow: hidden;

      .cover-photo {
        position: relative;
        height: 275px;
        width: 100%;
        background: var(--secondary-blue);

        .profile-photo {
          position: absolute;
          left: 40px;
          bottom: -55px;
          height: 150px;
          width: 150px;
          background: var(--primary-orange);
          border-radius: 50%;        
        }
      }

      .badge {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 8px;
        top: 285px;
        left: 200px;

        .tutor-badge {
          padding: 8px 16px;
          background: var(--primary-orange);
          color: #FFF;
          border-radius: 20px;
          font-size: 12px;
          font-weight: 600;

          & svg {
            position: absolute;
            right: -6px;
            top: -8px;
          }
        }

        .verified {
          display: flex;
          align-items: center;
          gap: 6px;

          p {
            padding: 8px 16px;
            color: #FFF;
            border-radius: 20px;
            font-size: 12px;
            font-weight: 600;
            background: #047E00;
          }
          i {
            color: #047E00;
            font-size: 20px;
          }
        }
      }

      .profile-user-info {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 12px;
        margin-top: 70px;

        .edit {
          position: absolute;
          color: #444;
          font-size: 20px;
          top: -60px;
          right: 10px;
          cursor: pointer;
          &:hover {
            color: #000;
          }
        }

        .info-details {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-left: 40px;

          .school, .location, .job {
            color: var(--primary-black);
            display: flex;
            align-items: center;
            gap: 4px;
          }
          .job {
            color: #000;
            font-weight: 600;
          }
        }

        .cards {
          display: flex;
          height: max-content;
          gap: 10px;
          flex-wrap: wrap;
          width: 300px;

          p {
            height: max-content;
            font-size: 15px;
            background: var(--bg-gray);
            padding: 4px 12px;
            border-radius: 50px;
          }
        }

      }
    }

    .modal-card-skills {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 400px;
      border-radius: 20px;
      padding: 20px;
      width: 100%;
      backdrop-filter: blur(20px);
      background: rgba(255, 255, 255, 0.7);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

      .header {
        position: relative;
        display: flex;
        .edit {
          position: absolute;
          top: -10px;
          right: -10px;
          font-size: 20px;
          color: #444;
          cursor: pointer;
          &:hover {
            color: #000;
          }
        }
      }

      .subjects, .top-skills {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 2px solid #444;

        .name {
          display: flex;
          justify-content: space-between;

          p {
            font-size: 18px;
            font-weight: 450;
          }

          .count {
            font-size: 13px;
          }
        }
      }

      .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        p {
          font-size: 15px;
          background: var(--bg-gray);
          padding: 4px 12px;
          border-radius: 50px;
        }
      }
    }

    .modal-card-posts {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 85vh;
      padding: 0 20px;
      border-radius: 20px;
      width: 100%;
      background: #FFF; 
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      padding-bottom: 50px;
      overflow-y: scroll;
      scrollbar-width: thin;

      .buttons {
        position: sticky;
        top: 0;
        display: flex;
        align-self: flex-start;
        gap: 20px;
        margin-left: 20px;
        margin-bottom: 5px;
        padding: 30px 20px;
        background: #FFF;
        width: 100%;
        z-index: 2;

        & button {
          padding: 10px 20px;
          border-radius: 20px;
          border: none;
          font-size: 16px;
          background: var(--bg-gray);
          border: 1px solid #AEAEAE;
          color: #444444;
          font-weight: 600;
          cursor: pointer;

          &:hover {
            opacity: 0.9;
          }
        }

        .active {
          background: var(--primary-orange);
          color: #FFF;
          border: none;
        }
      }

      .posts {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
    }
  }
}