.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  height: max-content;
  text-align: center;
  width: 100%;
  gap: 10px;
  padding: 20px 10px;
  background: #FFF;
  cursor: pointer;

  .profile-pic {
    margin-top: 10px;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background: var(--bg-gray);
  }

  .profile_user-name {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .profile_job-title {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .profile_location, .profile_availability {
    display: flex;
    gap: 4px;
    font-size: 12px;
  }

  & p {
    color: var(--subtext-gray);
  }

  .profile_job-details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 20px;
    p {
      padding: 4px 12px;
      font-size: 12px;
      background: var(--bg-gray);
      border-radius: 50px;
      color: #000;
    }
  }
}