.side-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  height: max-content;
  text-align: center;
  width: 100%;
  gap: 20px;
  padding: 10px;
  background: #FFF;

  .adsense {
    color: var(--subtext-gray);
    background: var(--bg-gray);
    height: 200px;
    width: 100%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .utility-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    line-height: 20px;
    padding: 0 12px;

    & a, span {
      color: var(--subtext-gray);
      font-weight: 500;
      text-decoration: none;
      font-size: 10px;
    }
    & a:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    display: flex;
    gap: 4px;
    font-size: 12px;

    & p:first-child {
      color: var(--primary-orange);
      font-weight: 700;
    } & p:nth-child(2) {
      color: var(--primary-blue);
      font-weight: 700;
    }
  }
}