.skeleton {
  opacity: .77;
  animation: skeleton-loading 1.7s infinite linear alternate;
}

.profile-card-loading.skeleton {
  width: 200px;
  height: 10px;
}

.profile-pill {
  height: 20px;
  width: 75px;
}

.profile-info-loading.skeleton {
  width: 100px;
  height: 10px;
}

.skeleton-link {
  width: 35px;
  height: .5rem;
}

.interaction-card {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.skeleton-text {
  width: 100%;
  height: .5rem;
  color: #fff;
  margin-bottom: .25rem;
  border-radius: .125rem;

  &:last-child {
    margin-bottom: 0;
    width: 77%;
  }
}

@keyframes skeleton-loading {
  0% { background: hsl(200, 20%, 70%); }
  100% { background: hsl(200, 20%, 95%); }
}