@import url('./_skeletonLoading.scss');
@import url('./_header.scss');
@import url('./_loginPage.scss');
@import url('./_messagePage.scss');
@import url('./_profilePage.scss');
@import url('./_communityPage.scss');
@import url('./_fyp.scss');
@import url('./_profileCard.scss');
@import url('./_sideFooter.scss');

$primary-white: #FFF8F0;
$newsfeed-white: #FFFDF9;
$sidebar-white: #EBEBEB;
$primary-orange: #F96900;
$fade-orange: #ff8228;
$primary-black: #191716;
$secondary-black: #444444;
$primary-blue: #4993fb;
$secondary-blue: #71A9F7;
$fade-blue: #71A9F7;

$subtext-black: #272727; 
$subtext-gray: #666666; 
$bg-gray: #D9D9D9;

:root {
  --primary-white: #{$primary-white};
  --newsfeed-white: #{$newsfeed-white};
  --sidebar-white: #{$sidebar-white};
  --primary-orange: #{$primary-orange};
  --fade-orange: #{$fade-orange};
  --primary-black: #{$primary-black};
  --secondary-black: #{$secondary-black};
  --primary-blue: #{$primary-blue};
  --secondary-blue: #{$secondary-blue};
  --fade-blue: #{$fade-blue};
  
  --subtext-black: #{$subtext-black}; 
  --subtext-gray: #{$subtext-gray}; 
  --bg-gray: #{$bg-gray};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, "sans-serif";
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  #root {
    height: 100vh;
    width: 100%;
    min-width: 100%;
    overflow-y: scroll;
  }
}